
@model CDEUnilever_WebApp.Models.User;
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">CDExcellent</h1>
    </div>
    <!-- Content Row -->
    <div class="row">
        Nhan vien: <br>
        HoangAnhHuy <br>
        Rating: <br>
        **** <br>
        Ngay gia nhap: <br>
    </div>
    <hr>
    <div class="row">
        <div class="card bg-primary text-white shadow">
            <div class="card-body">
                Dat lich
            </div>
        </div>
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                Tao task
            </div>
        </div>
        <div class="card bg-info text-white shadow">
            <div class="card-body">
                Lich su
            </div>
        </div>
        <div class="card bg-warning text-white shadow">
            <div class="card-body">
                Thong bao
            </div>
        </div>
    </div>
</div>